.form {
    display: flex;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
}

.field {
    flex: 1;
}

.container button[type="submit"] {
    min-width: 70px;
}

.clearButton {
    font-size: 12px;
}
